<div class="width_80">
  <h1>ラベル一覧</h1>
  <table class="index_container">
    <th class="width_20"><%= Label.human_attribute_name('word')%></th>

    <% @labels.each do |label| %>
      <tr>
        <td class="width_20"><%= label.word %></td>
      </tr>
    <% end %>

  </table>

  <h1>ラベル使用状況</h1>
  <%= column_chart @chart_data %>
</div>
